"*":
  "atom-discord":
    behaviour: {}
  core:
    disabledPackages: [
      "atom-discord"
      "minimap"
      "platformio-ide-terminal"
      "wrap-guide"
      "whitespace"
      "welcome"
      "update-package-dependencies"
      "tree-view"
      "timecop"
      "tabs"
      "symbols-view"
      "styleguide"
      "status-bar"
      "spell-check"
      "snippets"
      "package-generator"
      "open-on-github"
      "notifications"
      "metrics"
      "markdown-preview"
      "link"
      "line-ending-selector"
      "language-yaml"
      "language-xml"
      "language-typescript"
      "language-toml"
      "language-todo"
      "language-text"
      "language-sql"
      "language-shellscript"
      "language-sass"
      "language-ruby-on-rails"
      "language-python"
      "language-ruby"
      "language-source"
      "language-property-list"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-mustache"
      "language-make"
      "language-less"
      "language-json"
      "language-javascript"
      "language-hyperlink"
      "language-go"
      "language-gfm"
      "language-html"
      "language-css"
      "language-csharp"
      "language-coffee-script"
      "language-clojure"
      "language-c"
      "keybinding-resolver"
      "incompatible-packages"
      "image-view"
      "go-to-line"
      "grammar-selector"
      "github"
      "git-diff"
      "fuzzy-finder"
      "find-and-replace"
      "exception-reporting"
      "encoding-selector"
      "dev-live-reload"
      "deprecation-cop"
      "dalek"
      "command-palette"
      "bracket-matcher"
      "bookmarks"
      "background-tips"
      "autosave"
      "autoflow"
      "autocomplete-snippets"
      "autocomplete-plus"
      "autocomplete-html"
      "autocomplete-css"
      "autocomplete-atom-api"
      "archive-view"
      "about"
      "settings-view"
    ]
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "242972c9-8f7f-4086-9613-c9688766fd10"
  minimap: {}
  "platformio-ide-terminal":
    style:
      theme: "one-dark"
  "title-bar-replacer":
    colours: {}
    configuration: {}
    general: {}
